<body>
    <section class="container">
        <div class="login-container">
            <div class="circle circle-one"></div>
            <div class="form-container">
                <img src="https://raw.githubusercontent.com/hicodersofficial/glassmorphism-login-form/master/assets/illustration.png" alt="illustration" class="illustration" />
                <h1 class="opacity">LOGIN</h1>
                <form>
                    <input type="text" placeholder="Email" id="email"/>
                    <input type="password" placeholder="Password" id="password"/>
                    <button class="opacity" type="button" (click)="validateForm()">Login</button>
                </form>
                <div class="register-forget opacity">
                    <a href="#" routerLink="/register">REGISTER</a>
                </div>
            </div>
            <div class="circle circle-two"></div>
        </div>
        <div class="theme-btn-container"></div>
        <script>
            const setTheme = (theme) => {
      const root = document.querySelector(':root');
      root.style.setProperty('--background', theme.background);
      root.style.setProperty('--color', theme.color);
      root.style.setProperty('--primary-color', theme.primaryColor);
      root.style.setProperty('--glass-color', theme.glassColor);
    };
        </script>
    </section>
  </body>