<body>
    <section class="container">
        <div class="login-container">
            <div class="circle circle-one"></div>

            <div class="form-container">
                <h1 class="opacity">Register Here</h1>
                <form>
                    <input type="name" placeholder="Name" id="name" />
                    <input type="email" placeholder="Email" id="email" />
                    <input type="password" id="password" placeholder="Password" />
                    <input type="password" id="confirmPassword" placeholder="Confirm Password" />
                    <button class="opacity" (click)="validateForm()" type="button">Register</button>
                </form>
            </div>
            <div class="circle circle-two"></div>
        </div>
        <div class="theme-btn-container"></div>
        <script>
            const setTheme = (theme) => {
  const root = document.querySelector(':root');
  root.style.setProperty('--background', theme.background);
  root.style.setProperty('--color', theme.color);
  root.style.setProperty('--primary-color', theme.primaryColor);
  root.style.setProperty('--glass-color', theme.glassColor);
};

        </script>
    </section>
</body>